
<header>
    <div class="header-menu">
        <a href="{% url 'home' %}">Home</a>
        <ul class="header-menu_list">
            {% if user.is_authenticated %}
            <li class="header-menu_item">
                <a href="{% url 'logout' %}">logout</a>
            </li>
            {% else %}
            <li class="header-menu_item">
                <a href="{% url 'register' %}">register</a>
            </li>
            <li class="header-menu_item">
                <a href="{% url 'login' %}">login</a>
            </li>
            {% endif %}
        </ul>
    </div>
</header>